# Сервер
PORT=8000

# База данных (локальная разработка)
DATABASE_URL="postgresql://postgres@localhost:5433/mydb?schema=public"

# JWT
JWT_SECRET=your_secret_key_here
JWT_EXPIRES_IN=7d

# Email (Resend)
RESEND_API_KEY=your_resend_api_key_here

# Фронтенд
FRONTEND_URL=http://localhost:5173
